<button
  class="
    border border-blue-500 bg-blue-500
    hover:bg-white hover:text-blue-500
    text-white rounded p-2
  "
  onclick={{action clickAction}}
  ...attributes
  >
  {{yield}}
</button>