Choose Program:
{{choose-program macrocycles=model.macrocycles}}
{{outlet}}

{{test}}
<div class="my-4">
  <UiButton
    @clickAction={{transition-to "protected.new-program"}}
    data-test-new-program-button>
    Start new program
  </UiButton>
</div>
