{{#if currentUser.user.profile.needsNewPerformanceTest}}
  <div>
    <h2>Time to test your performance!</h2>

    <UiButton
      @clickAction={{perform createNewPerformanceTest}}
      @disabled={{"false"}}
      data-test-new-performance-test>
      Start new performance test
    </UiButton>
  </div>
{{/if}}

{{#if currentUser.user.profile.needsNewProgram}}
  <div class="my-4">
    <UiButton
      @clickAction={{transition-to "protected.new-program"}}
      data-test-new-program-button>
      Start new program
    </UiButton>
  </div>
{{/if}}

<HomeScreen>
</HomeScreen>
