<div>
  <span>Macros</span>
  <span>Weight</span>
</div>

* Estimated BMR
* Average deficit for past 7 days
* Average deficit for past month
* Time in deficit
* Suggested Calories for .6% cut
* Suggested Calories for .8% cut
* Suggested Calories for 1% cut
