<div>
  <span>Macros</span>
  <span>Weight</span>
</div>

* Estimated BMR
Over last week (last week total calories / 7), then use average weight from last week


* Average deficit/surplus for past 7 days
* Average deficit/surplus for past month
* Time in deficit/surplus
* Average change in weight over
* Suggested Calories for .6% cut
* Suggested Calories for .8% cut
* Suggested Calories for 1% cut
