{{#each model.performanceTest.exercises as |exercise|}}
  <div data-test-performance-test-exercises>
    {{view-performance-test-exercise
      exercise=exercise
      loggedExercise=(get-logged-exercise
        model.performanceTest.loggedExercises
        exercise
      )
    }}
  </div>
{{/each}}
