<div class="copy leading-normal max-w-lg">
  <h1>Support and Feedback</h1>
  <p>Howdy! Ryan here.</p>
  <p>This app grew out of my own personal frustration with the tools I found to track/plan my fitness goals. If you have suggestions or are running into bugs please send me a note via this form below:</p>
</div>
<div class="mt-8">
  <a
    class="
      border border-blue bg-blue
      hover:bg-white hover:text-blue
      text-white rounded p-2 mt-4
    "
    href="https://forms.gle/1vVQzGyBfiLr8vbN6">
    Support & Feedback Form
  </a>
</div>
