<div>
  <div class="bg-grey p-1 m-y-4" data-test-program-name>{{macrocycle.name}}</div>
  {{#each loggedMacrocycle.loggedMesocycles as |loggedMesocycle|}}
    {{#each loggedMesocycle.loggedMicrocycles as |loggedMicrocycle|}}
      <div class="text-3xl mt-4">Week {{loggedMicrocycle.week}}</div>
      {{#each loggedMicrocycle.loggedSessions as |loggedSession|}}
        {{view-workout
          session=loggedSession.session
          loggedSession=loggedSession
          week=loggedSession.week
        }}
      {{/each}}
    {{/each}}
  {{/each}}
</div>