<div class="border border-grey rounded p-4 my-4">
  <h1>
    {{macrocycle.name}}
  </h1>

  {{#each macrocycle.mesocycles as |mesocycle|}}
    mesocycle
    <div class="border border-grey border-round my-2 p-2">
    {{#each mesocycle.microcycles as |microcycle|}}
      microcycle
      <div class="border border-grey border-round my-2 p-2">
      {{#each microcycle.sessions as |session|}}
        session
        <div class="border border-grey border-round my-2 p-2">
          {{#each session.exercises as |exercise|}}
            <ViewMove @exercise={{exercise}} />
          {{/each}}
        </div>
      {{/each}}
    </div>
    {{/each}}
    </div>
  {{/each}}
  <UiButton>
    Start Program
  </UiButton>
</div>