<div
  class="
    border
    {{if (eq color 'green') 'border-green-300'}}
    {{if (eq color 'yellow') 'border-yellow-800'}}
    {{if (eq color 'red') 'border-red-500'}}
    rounded p-4 my-4" ...attributes>
  {{yield}}
</div>