{{#ember-wormhole to="nav"}}
  <div class="absolute pin-y bg-blue w-full z-50">
    <button onclick={{action closeMenu}} class="float-right">
      {{fa-icon "close" size="1"}}
      close
    </button>
    <h1>assadf</h1>
  </div>
{{/ember-wormhole}}