<select onchange={{action "goToProgram"}} data-test-programs>
  {{#if (not selectedMacrocycle)}}
    <option value="">Choose Program</option>
  {{/if}}

  {{#each macrocycles as |macrocycle|}}
    <option value={{macrocycle.slug}} selected={{if (eq macrocycle.slug selectedMacrocycle.slug) "selected"}}>
      {{macrocycle.name}}
    </option>
  {{/each}}
</select>