Programs:
<select onchange={{action "goToProgram"}} data-test-programs>
  <option value="">Choose Program</option>
  <option value="ryans-program">
    Ryan's Program
  </option>
  <option value="robyns-program">
    Robyn's Program
  </option>
</select>
{{outlet}}