<div data-test-home-screen-items>
  {{#each homeScreenItems as |homeScreenItem|}}
    <div data-test-home-screen-item>
      {{#if homeScreenItem.loggedMacrocycle}}
        {{link-to "Go to program" "protected.program" homeScreenItem.loggedMacrocycle.id
          data-test-go-to-program="true"
        }}
      {{/if}}
      // if program, show one component
      // if performance test, show another component
    </div>
  {{/each}}
</div>