<div data-test-home-screen-items>
  {{#each homeScreenItems as |homeScreenItem|}}
    <div data-test-home-screen-item>
      {{#if homeScreenItem.loggedMacrocycle}}
        {{link-to "Go to program" "protected.program" homeScreenItem.loggedMacrocycle.id
          data-test-go-to-program="true"
        }}
      {{/if}}

      {{#if homeScreenItem.performanceTest}}
        {{link-to "Go to perf test" "protected.performance-tests" homeScreenItem.performanceTest.id
          data-test-go-to-performance-test="true"
        }}
      {{/if}}
    </div>
  {{/each}}
</div>